extends layouts/_layout.pug

block vars
    - var bodyClass = "repair-design"

block title
    = pages.repair.title

    -
        var advantagesBody = [
            'Ви заощаджжуєте нерви та час,  не маючи справ з ремонтом та бригадами',
            'Ваші сусіди не робитимуть ремонт, адже всі квартирі в секції вже готові',
            'Ви заощаджуєте на матеріалах та вартості робіт, адже ми надаємо їх за оптовими цінами',
            'Ми відповідаємо за якість приладів та матеріалів, їх екологічність та економність'
        ]

    -
        var whatYouGetTitle = [
            'Фінальна обробка стін та покриття шпалерами', 'Покриття підлоги ламінатом',
            'Підведено електрику та встановлені люстри', 'Повністю мебльовані кімнати',
            'Встановлено міжкімнатні та вхідні двері', 'Встановлено карнизи та повішено гардини',
            'Встановлено витяжку та кухонні меблі', 'Підведено комунікації та встановлено сантехніку'
        ]
    -
        var repairTypes = [
            'Базова обробка',
            'Початковий ремонт',
            'Заходь і живи'
        ]

block content
    .description
        .container
            .row
                .col-lg-12
                    .description__title
                        | Дизайнерський ремонт
            .row
                .offset-lg-1.col-lg-5
                    .description__body
                        | Купуючи квартиру, ви отримуєте не лише готове до життя помешкання, але відсутність шуму.
                        | Ми зробили дизайнерський ремонт у всіх квартирах будинку — Берковецька, 2, секція 2.
                    a.description__cta-href(href="#")
                        .description__cta
                            | Обрати на генплані
                .offset-lg-1.col-lg-5
                    +img('./img/illus/repair/repair-design-chair.svg').description__right-image
    .aglomeration.aglomeration--soft-blue.aglomeration--offset-start
        .advantages
            .container
                .row
                    each advantage, index in advantagesBody
                        .offset-lg-1.col-lg-5
                            .advantages__enum
                                .advantages__enum-item
                                    .advantages__enum-body= advantage
                                    +img(`./img/illus/repair/advantages-item-${index + 1}.svg`, 'advantages__enum-image')
            .container
                +slider()
    .aglomeration.aglomeration--dark-blue.aglomeration--offset
        section.what-you-get
            .container
                h2.text-center
                    | Що ви отримуєте
                .what-you-get__wrapper
                    .row
                        each _, index in new Array(4)
                            .col-lg-3.col-md-6
                                .what-you-get__item
                                    .what-you-get__item-image-wrapper
                                        img(src=`./img/illus/repair/what-you-get-${index + 1}.jpg`).what-you-get__image
                                    .what-you-get__title= whatYouGetTitle[index]
                .what-you-get__item-wrapper
                    .row
                        each _, index in new Array(4)
                            .col-lg-3.col-md-6
                                .what-you-get__item
                                    .what-you-get__item-image-wrapper
                                        img(src=`./img/illus/repair/what-you-get-${index + 1}.jpg`).what-you-get__image
                                    .what-you-get__title= whatYouGetTitle[index + 4]
        +section-manager()

        section.repair-types
            .container
                h2.text-center
                    | Інші типи ремонтів квартир
                .row
                    each type in repairTypes
                        .col-lg-4
                            .repair-types__item= type
                                +img('img/illus/button/button-arrow.svg', 'btn-filter_img-empty btn-filter_img')
                                +img('img/illus/button/button-circle.svg', 'btn-filter_img-choosed btn-filter_img')
